.title-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Aboreto', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;

}

.collaborators-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Aboreto', cursive;    
    padding: 20px;
}

