.fa-solid {
    color: rgb(19, 18, 18);   
        
}

.collaborator-modal-name {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Aboreto', cursive;
}

.collaborator-modal-email {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Aboreto', cursive;
}